:root {
    --color-black:         rgb(50, 50, 50);
    --color-grey:          rgb(90, 90, 90);
    --color-white:         rgb(255, 255, 255);
    --color-lightWhite:    rgb(250, 250, 250);
}

body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background:var(--color-lightWhite);
}

#ball_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    position: relative;
}

#ball-object {
    flex:0 0 600px;
    height:600px;
    border-radius:50%;
    background:var(--color-black);
    display:flex;
    justify-content: center;
    /* box-shadow:0px 0px 30px rgba(0, 0, 0, 0.3); */
}

#num_output {
    flex:0 0 300px;
    align-self:center;
    text-align:center;
    padding:50px 0px;
    font-size:5rem;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--color-white);
}

#answerInput {
    position: absolute;
    top:80px;
    max-width:300px;
    padding:15px 30px;
    box-shadow:0px 0px 40px rgba(0, 0, 0, 0.2);
    border-radius:8px;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--color-grey);
    font-size:.8rem;
    outline:none;
    border:none;
}

#bottom-button {
    position: absolute;
    bottom:100px;
}

.btn {
    text-decoration:none;
    background:var(--color-white);
    padding:17px 40px;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--color-grey);
    font-weight:600;
    box-shadow:0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius:8px;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

#shakeBall {margin-right:15px;}

#shakeBall:hover {
    box-shadow:inset 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#reset:hover {
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.2);
}
